#footer {
  color: white;
}

#links {
  background-image: url(../assets/img/footer-bg.jpg);
}

#links .container {
  height: 45vh;
  padding: 30px 0;
}

#links h1 {
  font-weight: 700;
  font-size: 18px;
}

#links ul {
  padding: 0;
  margin: 0;
}

#links li a {
  font-size: 12px;
  color: #ffffff70;
}

#links li a:is(:hover, :active) {
  color: #ffffff;
}

#links img {
  object-fit: contain;
}

#socials {
  position: relative;
  z-index: 2;
  background-color: #303030;
}

#socials .container {
  height: 12vh;
}

#socials button{
  width: 150px;
  height: 50px;

  background-color: #00000000;
  color: white;
  border-color: #0282f9;
  font-weight: 600;
}

#socials h1 {
  color: #0282f9;
  font-size: 20px;
  font-weight: 700;
}

#socials a {
  padding: 0 15px;
}

