#header {
  font-family: "Open Sans", sans-serif;
}

#header img {
  width: 80px;
}

#header a {
  color: #3d3b3b;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  padding: 0 15px;
}

#header a:is(:hover, :focus) {
  color: #0282f9;
}
