#main {
  background-color: #1c1c1c;
  color: white;
}

#banner {
  background-image: url(../assets/img/jumbotron.jpg);
  height: 400px;
}

#main .container {
  padding: 50px 0;
}

#main button {
  min-width: 150px;
  height: 50px;

  color: white;
  background-color: #0282f9;
  border: none;
  font-weight: 600;
}
