#merch {
  background-color: #0282f9;
  color: white;
}

#merch .container {
  padding: 50px 30px;
}

#merch .merch-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

#merch .merch-item img {
  height: 50px;
}
